#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

main button{
    background: black;
    color: white;
    margin: 0 2px;
}

fieldset{
  padding: 2px;
}

main{
  padding: 10px;
  border: 2px solid black;
  border-radius: 16px;
  max-width: 50%;
  margin: auto;
}

main ul{
  list-style: none;
  padding-left: 2px;
}

main ul li{
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

main ul li input{
 padding: 10px;
}

.add-task{
  display: flex;
}

.add-task fieldset{
    width: 100%;
}

.add-task input{
  flex-grow: 2;
  width: 100%;
}

.task-content{
  display: flex;
  align-items: flex-start;
}

.task-text{
   width: 300px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

@media only screen and (max-width: 600px) {
  .task-text{
     width: 150px;
  }
}